<h2>New bookmark for <%= @list.name %> list</h2>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Create new bookmark", class: "btn btn-primary" %>
<% end %>
